{% extends 'base.html' %}

{% block title %}
Add article
{% endblock %}

{% block content %}
<div class="container">
    <h1>Add article</h1>
    <form action="/create_article" method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Enter name"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Enter an announcement"></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Enter the main text"></textarea><br>
        <input type="submit" class="btn btn-success" value="Submit">
    </form>
</div>

{% endblock %}
